.testimonialCard{
    display: flex;
    padding: 2rem;
}
.testimonialCard img{
    border-radius: 50%;
    width: 5rem;
    margin-right: 1rem;
}

.testimony{
    text-align: left;
}

.testimony h4{
    margin:0 ;
    padding: 0;
}