.container {
  display: flex;
  margin: 2rem 2rem 6rem 2rem;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
}

.content {
  width: 35rem;
  margin: 0 3rem 0 0;
}

.content,
.inputs {
  display: flex;
  flex-direction: column;
}

.inputs {
  width: 100%;
}

.buttons_container {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
.buttons {
  margin: 2rem;
  width: 35rem;
}

@media(max-width: 710px){
  .buttons{
    width: 20rem;
  }
}