.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  
}

.list li a {
  height: 22.5rem;
  width: 20rem;
  border: 1px solid whitesmoke;
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: black;
  font-weight: bold;
}

.image {
  object-fit: cover;
  height: 15.5rem;
}

.content {
  padding: 0.5rem 1rem;
  position: relative;
  height: 7rem;
  background-color: white;
}



.stars {
  margin: 0.5rem 0;
}



.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: green;
  font-size: 1.25rem;
}
