.header {
  background: black;
  padding: 0;
  border-bottom: 1px solid goldenrod;
}

.header a {
  color: white;
}

.header a:hover {
  background: goldenrod;
  color: white;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  padding: 1rem;
}

.header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.header ul a {
  padding: 1rem;
  display: inline-block;
}

.cart_count {
  background-color: goldenrod;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}
